# required binaries list
binary_deps+=( go sqlite3 )

# warn the user if a required binary is missing
for dep in ${binary_deps[@]}; do
    if ! has $dep; then
	echo "missing local binary '${dep}', to install it run 'make install_binaries'"
    fi
done

export CGO_ENABLED=1
